* {
    font-family: Caskaydia Cove Nerd Font;
    /* font-family: Liga SFMono Nerd Font; */
    font-size: 19px;
}

#window {
    padding: 0 10px;
}

window#waybar {
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: gray;
    transition-duration: 0s;
    color: rgba(217, 216, 216, 1);
    /* background: #002b36;  */
    background: rgba(0, 0, 0, 0.0); 

} 

#workspaces {
    margin: 0 5px;
    margin: 0px 0px 0px 10px;
    padding: 0 5px;
    border-top: 3px solid rgba(217, 216, 216, 0.5);

}

#workspaces button {
    padding: 0 8px;
    color: rgba(217, 216, 216, 1);
    border: 3px solid rgba(9, 85, 225, 0);
    border-radius: 10px;
    min-width: 33px;
}

#workspaces button.visible {
    color: #ff6a00;
}

/* #workspaces button.urgent { */
/*     background-color: #a96d1f; */
/*     color: white; */
/* } */

#workspaces button:hover {
    box-shadow: inherit;
    border-color: #bb9af7;
    color: #bb9af7;
}

/* Repeat style here to ensure properties are overwritten as there's no !important and button:hover above resets the colour */

#workspaces button.focused {
    color: #dc322f;
}
#workspaces button.focused:hover {
    color: #bb9af7;
}

#custom-recorder {
	font-size: 18px;
	margin: 2px 7px 0px 7px;
	color:#ee2e24;
}
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-power,
#custom-updates,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#language,
#bluetooth,
#custom-clock,
/* #workspaces, */
#mpd {
    margin: 0px 0px 0px 10px;
    padding: 0 5px;
    border-top: 3px solid rgba(217, 216, 216, 0.5);
    /* border-right: 3px dotted rgba(217, 216, 216, 0.5); */
}

#language {
    /* color: #ff6a00; */
    /* border-color: #ff6a00; */
    color: red;
    border-color: red;
} 

#battery.warning {
    color: rgba(255, 210, 4, 1);
}

#battery.critical {
    color: rgba(238, 46, 36, 1);
}

#battery.charging {
    color: rgba(217, 216, 216, 1);
}

#custom-storage.warning {
    color: rgba(255, 210, 4, 1);
}

#custom-storage.critical {
    color: rgba(238, 46, 36, 1);
}

#custom-notification {
    font-family: "Caskaydia Cove Nerd Font";
    margin: 0 5px;
    margin: 0px 0px 0px 10px;
    padding: 0 5px;
    border-top: 3px solid rgba(217, 216, 216, 0.5);
}
